body {
  background-color: #e8ffc1;
  font-family: "Roboto", sans-serif;

  .weather-app {
    background-color: #a5ecd7;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
  }
  a {
    color: #0278ae;
  }
}
header {
  border-bottom: 1px solid #e8ffc1;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #e8ffc1;
  border: none;
  border-radius: 16px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background-color: #0278ae;
  padding: 17px 30px;
  border: none;
  border-radius: 16px;
  color: white;
  margin-left: 10px;
}
main {
  margin: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 14px;
  line-height: 16px;
  color: rgba(39, 33, 36, 0.4);
  font-weight: 500;
}
.weather-app-details strong {
  color: #51adcf;
}

.weather-app-temperature-container {
  display: flex;
}
.weather-app-icon {
  width: 88px;
  height: 88px;
}
.weather-app-temperature {
  font-size: 80px;
  line-height: 88px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #0278AE;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperature {
  text-align: center;
  color: #0278AE;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}


.weather-forecast-temperature{
  padding: 0 10px;
}

footer {
  border-top: 1px solid #e8ffc1;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.6);
}
